
.container {
    width: 100%; /* Ширина контейнера 100% */
    height: 100vh; /* Высота контейнера 100% высоты окна */
    display: flex; /* Используем flexbox для выравнивания */
}

.container1 {
    display: flex;
    justify-content: center;  /* Центрирует блок по горизонтали */
    align-items: flex-start;  /* Прижимает блок к верхней части */
    height: 100hv;
    position: relative;
}

.blue-block1 {
    height: 380px;
    width: 600px; /* Фиксированная ширина блока */
    color: white;
    background-color: #1a12fd;
    margin: auto;
}

.blue-block2 {
    width: 700px; /* Фиксированная ширина блока */
    color: white;
    padding: 30px;
    border: 30px;
    border-color: black;
    background-color: #1a12fd;
    margin: auto;
    position: relative;
}

.green-block {
    width: 600px; /* Фиксированная ширина блока */
    color: white;
    background-color: #00cc0a;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


