.relative-div-5 {
   background-color: #ffe4c4;
    float: left;
    width: 200px;
}

.table {
    background-color: #00ffff;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #32cd32;
    position: fixed;
    bottom:0;
    left:0;
}

.first {
    background-color: #ffe4c4;
    float: left;
    width: 200px;
}

.content-column {
    background-color: #a9a9a9;
    margin-left: 200px;

}

.footer {
    height: 70px;
    width: 100%;
    background-color: #32cd32;
    position: fixed;
    bottom:0;
    left:0;
}